<!-- Footer -->

<footer class="page-footer font-small unique-color-dark" class="color">
    <div class="row mt-3" class="color">
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5"class="color">
  
      <!-- Grid row -->
      <div class="row mt-3" >
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4" >
  
          <!--<!-- Content -->
          <h6 class="text-uppercase font-weight-bold " >About Us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Multinary is a leading supplier of Office Supplies including Office and School Stationery items across India.We offer a wide range of products and services to our clients to manage day to day working of their premises. We cater to every customer inclduing Individuals, Corporates, and resellers.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Our Top Brands</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          
          
    
          <p>
            <a href="http://localhost:4200/related/5ed7888b11cebf5cb8c8388a">Classmate</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5edbbd14a2493c53b46948e7">Apsara</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5ed788a411cebf5cb8c8388c">Navneet</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5ed788a411cebf5cb8c8388c">Casio</a>
          </p>

          <p>
            <a href="http://localhost:4200/related/5eec45c3f9a79d31e0a44440">Nataraj</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5ed7889a11cebf5cb8c8388b">Kokuyo Camlin</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5ee763e9ba41cc3e18f70974">Fevicol</a>
          </p>
          <p>
            <a href="http://localhost:4200/related/5edbbdd2a2493c53b46948e9">Linc</a>
          </p>
      
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Our Products</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            Pencils
          </p>
          <p>
            Pens
          </p>
          <p>
            Water Coolors
          </p>
          <p>
            Books
          </p>

          <p>
            Stationary Kits
          </p>
          <p>
            Calculators
          </p>
          <p>
            Crayons
          </p>
          
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact Us</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i>Pune,Opposite Bajaj Showroom</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> multinary@gmail.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> 9822513458</p>
          <p>
            <i class="fas fa-print mr-3"></i> 020-25511031</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  </div>
   
  
  </footer>
  <!-- Footer -->
  <footer class="page-footer font-small unique-color-dark" class="color">
  <div class="text-center">
  <!--Facebook-->
  <a class="btn-floating btn-lg btn-fb text-col" href="https://www.facebook.com/" type="button" role="button"><i class="fab fa-facebook-f "></i></a>
  <!--Twitter-->
  <a class="btn-floating btn-lg btn-tw"  href="https://twitter.com/login" type="button" role="button"><i class="fab fa-twitter"></i></a>
  <!--Google +-->
  <a class="btn-floating btn-lg btn-gplus" href="https://www.google.com/" type="button" role="button"><i class="fab fa-google-plus-g"></i></a>
  <!--Linkedin-->
  <a class="btn-floating btn-lg btn-li" href="https://www.linkedin.com/home/?originalSubdomain=in" type="button" role="button"><i class="fab fa-linkedin-in"></i></a>
  <!--Instagram-->
  <a class="btn-floating btn-lg btn-ins" href="https://www.instagram.com/accounts/login/?hl=en" type="button" role="button"><i class="fab fa-instagram"></i></a>
  <!--WhatsApp-->
  <a class="btn-floating btn-lg btn-whatsapp" href="https://www.whatsapp.com/" type="button" role="button"><i class="fab fa-whatsapp"></i></a>
  </div>
  </footer>